<div class="row">
  <div class="col-md-4">
    <div class="form-group float-label-control">
      <div class="row">
        <div class="col-md-12">
          <label for="">ID</label>
          <input #IDdelete type="number" class="form-control" placeholder="ID">
        </div>
      </div>
    </div>
    <button class="btn btn-danger" (click)="onDeleteFrivillige()">Slet frivillig</button>
  </div>
  <div class="col-md-4">
    <p>Skriv ID på den frivillige som du ønsker at slette fra databasen. </p>
  </div>
</div>