<h3>Vælg en funktion: </h3>
<button class="btn btn-primary" (click)="onSelect('opret')">Opret ny Frivillig</button>
<button class="btn btn-danger" (click)="onSelect('slet')">Slet Frivillig</button>
<button class="btn btn-warning" (click)="onSelect('rediger')">Redigér Frivillig</button>

<app-crud-opret *ngIf="selectedFeature === 'opret'"></app-crud-opret>
<app-crud-slet *ngIf="selectedFeature === 'slet'"></app-crud-slet>
<app-crud-rediger *ngIf="selectedFeature === 'rediger'"></app-crud-rediger>
