<svg height="750" width="650">
    <image href="../assets/images/kort.png" x="0" y="0" height="600px" width="600px"/>
    <a href="http://www.google.dk">
    <image
    class="zoomKirke"
     href="../assets/images/kirke.png"
     x="300" y="300" height="75px" width="75px"/>
    </a>
    <image 
    class="zoomSkib"
    href="../assets/images/skib.png" onclick="alert('SKIB')" x="50" y="400" height="75px" width="75px"/>
    <image
    class="zoomSmed"
     href="../assets/images/hestesko.png" onclick="alert('SMED')" x="125" y="100" height="75px" width="75px"/>
    <image
    class="zoomMølle"
     href="../assets/images/mølle.png" onclick="alert('MØLLE')" x="335" y="100" height="75px" width="75px"/>
    </svg>
