 .zoomMølle:hover
  {
    transition: all 200ms ease-in;
    x: 325;
    y: 80;
    width: 15%;
    height:15%;
  }
  .zoomMølle
  {
  transition: all 200ms ease-in;
  }
    .zoomSkib:hover
  {
    transition: all 200ms ease-in;
    x: 30;
    y: 380;
    width: 15%;
    height:15%;
  }
    .zoomSkib
  {
  transition: all 200ms ease-in;
  }
  .zoomSmed:hover
  {
    transition: all 200ms ease-in;
    x: 115;
    y: 80;
    width: 15%;
    height:15%;
  }
    .zoomSmed
  {
  transition: all 200ms ease-in;
  }
    .zoomKirke:hover
  {
    transition: all 200ms ease-in;
    x: 290;
    y: 290;
    width: 15%;
    height:15%;
  }
    .zoomKirke
  {
  transition: all 200ms ease-in;
  }