<svg height="750" width="650">
    <image href="../assets/images/kort.png" x="0" y="0" height="600px" width="600px"/>
    <image
    id="kirke"
    class="zoomKirke"
    (click)="kirkeSelected()"
     href="../assets/images/kirke.png"
     x="300" y="300" height="75px" width="75px"/>
    <image
    id="skib" 
    class="zoomSkib"
    (click)="skibSelected()"
    href="../assets/images/skib.png"  x="50" y="400" height="75px" width="75px"/>
    <image
    id="smed"
    class="zoomSmed"
    (click)="smedSelected()"
     href="../assets/images/hestesko.png"  x="125" y="100" height="75px" width="75px"/>
    <image
    id="moelle"
    class="zoomMølle"
    (click)="moelleSelected()"
     href="../assets/images/mølle.png"  x="335" y="100" height="75px" width="75px"/>
    </svg>
