<div class="row">
  <div class="col-md-4">
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">ID</label>
        <input #IDUpdateInput type="number" class="form-control" placeholder="ID">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Fornavn</label>
        <input #FornavnUpdateInput type="text" class="form-control" placeholder="Fornavn">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Efternavn</label>
        <input #EfternavnUpdateInput type="text" class="form-control" placeholder="Efternavn">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Adresse</label>
        <input #AdresseUpdateInput type="text" class="form-control" placeholder="Adresse">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Postnr</label>
        <input #PostnrUpdateInput type="number" class="form-control" placeholder="Postnr">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">By</label>
        <input #ByUpdateInput type="text" class="form-control" placeholder="By">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Telfon nummer</label>
        <input #TelefonNummerUpdateInput type="text" class="form-control" placeholder="TelefonNummer">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Email</label>
        <input #EmailUpdateInput type="text" class="form-control" placeholder="Email">
      </div>
    </div>
  </div>
  <div class="form-group float-label-control">
    <div class="row">
      <div class="col-md-12">
        <label for="">Billede</label>
        <input #ImagePathUpdateInput type="text" class="form-control" placeholder="ImagePath">
      </div>
    </div>
  </div>
  <button class="btn btn-warning" (click)="onOpdaterFrivillig()">Opdatér frivillig</button>
  </div>
  <div class="col-md-4">
  <p>Skriv ID på den frivillige som du ønsker at redigere oplysningerne på.</p>
</div>
</div>
